name: Flutter Pull Request

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read
  pull-requests: read
  checks: write
  id-token: write

jobs:
  trunk-check:
    name: Trunk code check
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e #2.21.0
        with:
          flutter-version: ${{ vars.FLUTTER_VERSION }}
          channel: stable
          cache: true
      - name: Get Flutter packages (root)
        run: flutter pub get
      - name: Get Flutter packages (example)
        working-directory: example
        run: flutter pub get
      - name: Trunk Check
        uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1.2.4
        with:
          check-mode: all

  build-test-ios:
    name: Build & Test iOS
    needs: trunk-check
    uses: ./.github/workflows/test-ios.yml
    with:
      flutter-version: ${{ vars.FLUTTER_VERSION }}
      ruby-version: ${{ vars.RUBY_VERSION }}
      xcode-version: ${{ vars.XCODE_VERSION }}

  build-test-android:
    name: Build & Test Android
    needs: trunk-check
    uses: ./.github/workflows/test-android.yml
    with:
      flutter-version: ${{ vars.FLUTTER_VERSION }}

  pr-notify:
    if: >
      github.event_name == 'pull_request' &&
      github.event.pull_request.draft == false
    needs: [build-test-ios, build-test-android]
    name: Notify GChat
    uses: ROKT/rokt-workflows/.github/workflows/oss_pr_opened_notification.yml@main
    secrets:
      gchat_webhook: ${{ secrets.GCHAT_PRS_WEBHOOK }}
