name: Test iOS

on:
  workflow_call:
    inputs:
      flutter-version:
        required: false
        type: string
        default: 3.19.0
      ruby-version:
        required: false
        type: string
        default: 3.1.2
      xcode-version:
        required: false
        type: string
        default: "16.3"

permissions:
  contents: read

jobs:
  test_ios:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 #v1.267.0
        with:
          ruby-version: ${{ inputs.ruby-version }}
          bundler-cache: true
          rubygems: latest

      - name: Setup Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e #2.21.0
        with:
          flutter-version: ${{ inputs.flutter-version }}
          channel: stable
          cache: true

      - name: Set up Xcode 16
        uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd #v1.6.0
        with:
          xcode-version: ${{ inputs.xcode-version }}

      - name: Get all packages Flutter
        working-directory: example
        run: |
          flutter pub get
          flutter precache --ios

      - name: Install iOS Dependencies
        working-directory: example
        run: |
          bundle config set --local path 'vendor/bundle'
          bundle install
          cd ios
          bundle install
          bundle exec pod install --verbose --repo-update

      - uses: futureware-tech/simulator-action@dab10d813144ef59b48d401cd95da151222ef8cd #v4
        id: simulator
        with:
          model: iPhone 16

      - name: Run Flutter Tests (iOS)
        working-directory: example
        run: bundle exec flutter test

      - name: Run Flutter Integration Tests (iOS)
        working-directory: example
        env:
          SIMULATOR: ${{ steps.simulator.outputs.udid }}
        run: bundle exec flutter test integration_test/app_test.dart -d "$SIMULATOR" --dart-define=CI=true
