name: Run trunk upgrade

on:
  workflow_call:
  schedule:
    - cron: 0 0 1 * *
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  generate-and-call-upgrade:
    runs-on: ubuntu-latest
    outputs:
      generated-token: ${{ steps.generate-token.outputs.token }}
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        with:
          app-id: ${{ secrets.SDK_RELEASE_GITHUB_APP_ID }}
          private-key: ${{ secrets.SDK_RELEASE_GITHUB_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            ${{ github.event.repository.name }}

  trunk-upgrade:
    needs: generate-and-call-upgrade
    name: Run trunk upgrade
    uses: ROKT/rokt-workflows/.github/workflows/trunk-upgrade.yml@main
    with:
      token: ${{ needs.generate-and-call-upgrade.outputs.generated-token }}

  trunk-check:
    name: Trunk code check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
      - name: Setup Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e #2.21.0
        with:
          flutter-version: ${{ vars.FLUTTER_VERSION }}
          channel: stable
          cache: true
      - name: Get Flutter packages (root)
        run: flutter pub get
      - name: Get Flutter packages (example)
        working-directory: example
        run: flutter pub get
      - name: Trunk Check
        uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1.2.4
        with:
          check-mode: all
